<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.accountMapper.AccountMapper">
    <select id="getAccountNumByEmail" resultType="int">
        SELECT COUNT(*) FROM t_user WHERE email = #{email}
        AND verified = 1 AND enable = 1
    </select>

    <select id="getVerifiedAccountNumByEmailAndPassword" resultType="int">
        SELECT COUNT(*) FROM t_user WHERE email = #{email} AND password = #{password}
        AND verified = 1 AND enable = 1
    </select>

    <insert id="addUser" useGeneratedKeys="true"
            parameterType="cn.edu.nju.model.userModel.UserModel">
        INSERT INTO t_user(name, email, password, role, verified, enable)
                VALUES (#{user.name}, #{user.email}, #{user.password},
                      #{user.role}, #{user.verified}, #{user.enabled})
    </insert>
</mapper>