<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.examMapper.LevelMapper">

    <insert id="setMarkOfLevel" useGeneratedKeys="true">
        INSERT INTO t_level (courseId, level, mark, examId) VALUES
        <foreach collection="marks" item="mark" index="level" separator=",">
            (#{courseId}, #{level} + 1, #{mark}, #{examId})
        </foreach>
        ON DUPLICATE KEY UPDATE mark = VALUES(mark)
    </insert>

    <update id="updateMarkOfLevel" parameterType="java.util.List">
        <foreach collection="levelModelList" item="model" separator=";">
            UPDATE t_level
            <set> mark = #{model.mark} </set>
            WHERE courseId = #{model.courseId} AND level = #{model.level}
                  AND examId = #{model.examId}
        </foreach>
    </update>

    <select id="getMarkOfQuestion" resultType="double">
        SELECT mark FROM t_level
        WHERE examId = #{examId} AND courseId = #{courseId} AND level = #{level}
    </select>

    <select id="getMarksOfQuestions" resultType="double">
        SELECT mark FROM t_level
        WHERE examId = #{examId} AND courseId = #{courseId} AND level IN
        <foreach collection="levels" item="level" open="(" close=")" separator=",">
            #{level}
        </foreach>
    </select>

    <resultMap id="levelMap" type="cn.edu.nju.model.examModel.LevelModel">
        <id column="id" property="levelId"/>
        <result column="courseId" property="courseId"/>
        <result column="level" property="level"/>
        <result column="mark" property="mark"/>
        <result column="examId" property="examId"/>
    </resultMap>

    <select id="getLevelModelList" resultMap="levelMap">
        SELECT * FROM t_level WHERE courseId = #{courseId}
    </select>

    <insert id="addLevelsOfExam" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO t_level(courseId, level, mark, examId) VALUES
        <foreach collection="levelModelList" item="model" separator=",">
            (#{model.courseId}, #{model.level}, #{model.mark}, #{model.examId})
        </foreach>
    </insert>

</mapper>