<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.examMapper.PaperMapper">

    <update id="deletePaperById">
        UPDATE t_paper SET enable = 0 WHERE id = #{paperId}
    </update>

    <insert id="addPaper" useGeneratedKeys="true" keyProperty="paper.paperId"
            parameterType="cn.edu.nju.model.examModel.PaperModel">
        INSERT INTO t_paper(examId, studentEmail, mark, enable, content)
        VALUES (#{paper.examId}, #{paper.studentEmail}, #{paper.mark},
                #{paper.enable}, #{paper.content})
    </insert>

    <update id="updateMarkOfPaper">
        UPDATE t_paper SET mark = #{mark}
        WHERE id = #{paperId} AND enable = 1
    </update>

    <select id="getStudentMarks" resultType="double">
        SELECT mark FROM t_paper WHERE examId = #{examId} AND enable = 1
    </select>

    <select id="getStudentScores" resultType="cn.edu.nju.model.examModel.ExamScoreModel">
        SELECT p.mark as score, s.email, s.name FROM t_paper as p, t_student as s
        WHERE p.examId = #{examId} AND p.enable = 1
              AND s.email = p.studentEmail AND s.courseId = #{courseId} AND s.enable = 1
    </select>

    <resultMap id="paperMap" type="cn.edu.nju.model.examModel.PaperModel">
        <id column="id" property="paperId"/>
        <result column="examId" property="examId"/>
        <result column="studentEmail" property="studentEmail"/>
        <result column="mark" property="mark"/>
        <result column="enable" property="enable"/>
        <result column="content" property="content"/>
    </resultMap>

    <select id="getPaperModel" resultMap="paperMap">
        SELECT * FROM t_paper
        WHERE examId = #{examId} AND studentEmail = #{email} AND enable = 1
    </select>

    <select id="getPaperNum" resultType="int">
        SELECT COUNT(*) FROM t_paper
        WHERE examId = #{examId} AND studentEmail = #{email} AND enable = 1
    </select>
</mapper>