<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.examMapper.QuestionMapper">
    <select id="getMD5Num" resultType="int">
        SELECT COUNT(*) FROM t_question
        WHERE md5Value=#{md5} AND enable = 1
    </select>

    <insert id="addQuestionList" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_question (courseId, content, md5Value, level, answer, enable, optionJson)
        values
        <foreach collection="questions" item="question" separator=",">
            (#{question.courseId}, #{question.content},
             #{question.md5Value}, #{question.level}, #{question.answer},
             #{question.enable}, #{question.optionJson})
        </foreach>
    </insert>

    <resultMap id="questionMap" type="cn.edu.nju.model.examModel.QuestionModel">
        <id property="questionId" column="id"/>
        <result property="courseId" column="courseId"/>
        <result property="content" column="content"/>
        <result property="md5Value" column="md5Value"/>
        <result property="level" column="level"/>
        <result property="answer" column="answer"/>
        <result property="enable" column="enable"/>
        <result property="optionJson" column="optionJson"/>
    </resultMap>

    <select id="getCourseQuestions" resultMap="questionMap">
        SELECT * FROM t_question
        WHERE courseId = #{courseId} AND enable = 1 LIMIT #{offset}, #{size}
    </select>
    
    <update id="deleteQuestions">
        UPDATE t_question SET enable = 0 WHERE courseId = #{courseId} AND id IN
        <foreach collection="questionIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getCourseIdByQuestionId" resultType="int">
        SELECT courseId FROM t_question
        WHERE id = #{questionId} AND enable = 1
    </select>

    <select id="getLevelNumByCourseId" resultType="int">
        SELECT COUNT(DISTINCT level) FROM t_question
        WHERE courseId = #{courseId} AND enable = 1
    </select>

    <select id="getNumOfQuestions" resultType="int">
        SELECT COUNT(*) FROM t_question
        WHERE courseId = #{courseId} AND level = #{level} AND enable = 1
    </select>

    <select id="getNumOfCourseQuestions" resultType="int">
        SELECT COUNT(*) FROM t_question
        WHERE courseId = #{courseId} AND enable = 1
    </select>

    <select id="getAllQuestionsByCourseId" resultMap="questionMap">
        SELECT * FROM t_question WHERE courseId = #{courseId} AND enable = 1
    </select>

    <select id="getQuestionById" resultMap="questionMap">
        SELECT * FROM t_question WHERE id = #{questionId} AND enable = 1
    </select>

</mapper>