<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.examMapper.StudentMapper">

    <select id="getStudentMD5Count" resultType="int">
        SELECT COUNT(*) FROM t_student WHERE md5Value = #{md5Value} AND enable = 1
    </select>

    <resultMap id="studentMap" type="cn.edu.nju.model.examModel.StudentModel">
        <id property="studentId" column="id"/>
        <result property="courseId" column="courseId"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="cls" column="class"/>
        <result property="enable" column="enable"/>
    </resultMap>

    <insert id="updateStudent" useGeneratedKeys="true"
            parameterType="cn.edu.nju.model.examModel.StudentModel">
        <selectKey keyProperty="count" order="BEFORE" resultType="int">
            SELECT COUNT(*) from t_student
            WHERE email = #{student.email} AND courseId = #{student.courseId} AND enable = 1
        </selectKey>
        <if test="count == 0">
            INSERT INTO t_student(courseId, email, name, md5Value, class, enable)
            VALUES (#{student.courseId}, #{student.email}, #{student.name},
            #{student.md5Value}, #{student.cls}, #{student.enable})
        </if>
        <if test="count > 0">
            UPDATE t_student SET name = #{student.name}, class = #{student.cls}
            WHERE email = #{student.email} AND courseId = #{student.courseId} AND enable = 1
        </if>
    </insert>

    <select id="getCourseStudents" resultMap="studentMap">
        SELECT * FROM t_student WHERE enable = 1 AND email IN
        (SELECT email FROM r_exam_student WHERE enable = 1 AND examId IN
        (SELECT examId FROM t_exam WHERE courseId = #{courseId} AND enable = 1))
    </select>

    <select id="getExamStudents" resultMap="studentMap">
        SELECT * FROM t_student WHERE enable = 1 AND email IN
        (SELECT email FROM r_exam_student WHERE examId = #{examId} AND enable = 1)
    </select>

    <update id="deleteCourseStudents">
        UPDATE t_student SET enable = 0
        WHERE courseId = #{courseId} AND email IN
        <foreach collection="emails" item="email" separator="," open="(" close=")">
            #{email}
        </foreach>
    </update>

</mapper>