<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.mapper.userMapper.UserMapper">
    <select id="getUserIdByEmail" resultType="int">
        SELECT id FROM t_user WHERE email = #{email}
    </select>

    <select id="getRoleById" resultType="int">
        SELECT role FROM t_user WHERE id = #{userId}
    </select>
</mapper>